@font-face {
    font-family: cocogoose;
    src: url(../../fonts/Cocogoose.ttf);
}

@font-face {
    font-family: louis;
    src: url(../../fonts/Louis.ttf);
}

@font-face {
    font-family: nexa;
    src: url(../../fonts/Nexa.ttf);
}

@font-face {
    font-family: heavitas;
    src: url(../../fonts/Heavitas.ttf);
}

@font-face {
    font-family: bebas;
    src: url(../../fonts/Bebas.otf);
}

body {
    background-color: #F8F8F8;
    margin: 0;
    padding: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.logo {
    position: relative;
    width: 5.5%;
    left: 6%;
    top: 14%;
}

header {
    background-color: #9ED4AE;
    height: 15vh;
    border-bottom: #20A144;
    border-bottom-style: solid;
    border-bottom-width: 4px;
}

.btnatras {
    color: #20A144;
    font-family: nexa;
    font-size: 20px;
    background-color: #ffffff00;
    border-style: none;
    position: absolute;
    right: 80px;
    top: 40px;
    text-decoration: none;
}

.footer {
    position: relative;
    background-color: #9ED4AE;
    height: 15vh;
    border-top: #20A144;
    border-top-style: solid;
    border-top-width: 4px;
    width: 100%;
    padding: 0;
    margin: 0;
    left: 0;
    right: 0;
    bottom: auto;
}

.contenedor {
    text-align: center;
    padding: 1%;
}

.cont2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 64px;
    font-family: nexa;
    color: #20A144;
}


/*============================================================================================================*/

.info {
    width: 60%;
    text-align: center;
    padding-bottom: 60px;
    padding-top: 15px;
}

h3 {
    font-size: 36px;
    font-family: nexa;
    color: #20A144;
}

h4 {
    font-size: 30px;
    font-family: louis;
    color: #9ED4AE;
}

.tbtn {
    width: 100%;
    text-align: center;
    padding-top: 50px;
}

.btns {
    display: inline-block;
    margin: 0 150px;
    width: 220px;
    height: 300px;
    border-radius: 30px;
    background-color: #9ED4AE;
    padding: 5px;
}

.logos {
    margin-top: 4vh;
    height: 20vh;
}

h2 {
    font-size: 24px;
    font-family: nexa;
    color: #20A144;
}

.acciones {
    position: absolute;
    width: 300px;
    right: 80px;
    top: 180px;
}

.imgboton {
    width: 70%;
}

button {
    width: 60px;
    height: 60px;
    text-align: center;
    background-color: #9ED4AE;
    border-radius: 180px;
    border-style: none;
    margin-left: 60px;
}