@font-face {
    font-family: cocogoose;
    src: url(../../fonts/Cocogoose.ttf);
}

@font-face {
    font-family: nexa;
    src: url(../../fonts/Nexa.ttf);
}

@font-face {
    font-family: heavitas;
    src: url(../../fonts/Heavitas.ttf);
}

@font-face {
    font-family: bebas;
    src: url(../../fonts/Bebas.otf);
}

body {
    background-color: #F8F8F8;
    margin: 0;
    padding: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.logo {
    position: relative;
    width: 5.5%;
    left: 6%;
    top: 14%;
}

header {
    background-color: #9ED4AE;
    height: 15vh;
    border-bottom: #20A144;
    border-bottom-style: solid;
    border-bottom-width: 4px;
}

.footer {
    position: relative;
    background-color: #9ED4AE;
    height: 15vh;
    border-top: #20A144;
    border-top-style: solid;
    border-top-width: 4px;
    width: 100%;
    padding: 0;
    margin: 0;
    left: 0;
    right: 0;
    bottom: auto;
}

.contenedor {
    text-align: center;
    padding: 1%;
}

h1 {
    font-size: 72px;
    font-family: nexa;
    color: #20A144;
}


/*============================================================================================================*/

table {
    width: 100%;
    text-align: center;
    padding-bottom: 60px;
    padding-top: 15px;
}

tr td {
    text-align: center;
}

h2 {
    font-size: 26px;
    font-family: nexa;
    color: #20A144;
}

input {
    height: 50px;
    width: 300px;
    border-color: #9ED4AE;
    border-style: solid;
    border-width: 3px;
    font-size: 20px;
    color: #20A144;
    font-family: nexa;
    padding-left: 15px;
}

button {
    font-family: nexa;
    color: #20A144;
    background-color: #9ED4AE;
    border-style: solid;
    border-width: 2px;
    border-color: #20A144;
    border-radius: 15px;
    margin: 40px;
    width: 180px;
    height: 50px;
    font-size: 20px;
}