@font-face {
    font-family: cocogoose;
    src: url(../../fonts/Cocogoose.ttf);
}

@font-face {
    font-family: nexa;
    src: url(../../fonts/Nexa.ttf);
}

@font-face {
    font-family: heavitas;
    src: url(../../fonts/Heavitas.ttf);
}

@font-face {
    font-family: bebas;
    src: url(../../fonts/Bebas.otf);
}

body {
    background-color: #F8F8F8;
    margin: 0;
    padding: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

button {
    cursor: pointer !important;
    transition: transform 0.2s, opacity 0.2s !important;
}

button:active {
    transform: scale(0.95) !important;
}

button:hover {
    opacity: 0.8 !important;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 70px;
    margin-right: 10px;
    margin-left: 40px;
}

.nombre-remi {
    font-size: 40px;
    padding: 0%;
    font-family: nexa;
    color: #20A144;
}

header {
    background-color: #9ED4AE;
    min-height: 70px;
    border-bottom: #20A144;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

.footer {
    flex-shrink: 0;
    background-color: #9ED4AE;
    height: 15vh;
    border-top: #20A144;
    border-top-style: solid;
    border-top-width: 4px;
    width: 100%;
    padding: 0;
    margin: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: auto;
}

.contenedor {
    text-align: center;
}

.cont2 {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 64px;
    font-family: nexa;
    color: #20A144;
    padding-top: 30px;
    margin: 0;
}


/*============================================================================================================*/

table {
    width: 70%;
    text-align: center;
    padding-bottom: 10px;
}

tr td {
    padding-top: 5px;
    text-align: center;
}

h2 {
    font-size: 26px;
    font-family: nexa;
    color: #20A144;
}

input {
    height: 50px;
    width: 300px;
    border-color: #9ED4AE;
    border-style: solid;
    border-width: 3px;
    font-size: 20px;
    color: #20A144;
    font-family: nexa;
    padding-left: 10px;
}

select {
    height: 50px;
    width: 50%;
    border-color: #9ED4AE;
    border-style: solid;
    border-width: 3px;
    font-size: 20px;
    color: #20A144;
    font-family: nexa;
    padding-left: 10px;
}

button {
    font-family: nexa;
    color: #20A144;
    background-color: #9ED4AE;
    border-style: solid;
    border-width: 2px;
    border-color: #20A144;
    border-radius: 15px;
    margin-top: 40px;
    width: 180px;
    height: 50px;
    font-size: 20px;
    margin-left: 8px;
    margin-right: 8px;
}

@media (max-width: 1000px) {
    header {
        flex-direction: column;
    }
    nav {
        padding: 10px 0px;
        text-align: center;
    }
    .logo img {
        height: 50px;
    }
}

@media (max-width: 860px) {
    h1 {
        font-size: 42px;
        font-family: nexa;
        color: #20A144;
        padding-bottom: 4px;
    }
    input {
        width: 75%;
        font-size: 16px;
    }
    h2 {
        font-size: 18px;
    }
    #btnGuardar {
        width: 120px;
    }
    #btnAtras {
        width: 120px;
    }
    body {
        justify-content: space-between;
    }
}