@font-face {
    font-family: cocogoose;
    src: url(../../fonts/Cocogoose.ttf);
}

@font-face {
    font-family: louis;
    src: url(../../fonts/Louis.ttf);
}

@font-face {
    font-family: nexa;
    src: url(../../fonts/Nexa.ttf);
}

@font-face {
    font-family: heavitas;
    src: url(../../fonts/Heavitas.ttf);
}

@font-face {
    font-family: bebas;
    src: url(../../fonts/Bebas.otf);
}

body {
    background-color: #F8F8F8;
    margin: 0;
    padding: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 70px;
    margin-right: 10px;
    margin-left: 40px;
}

.nombre-remi {
    font-size: 40px;
    padding: 0%;
    font-family: nexa;
    color: #20A144;
}

header {
    background-color: #9ED4AE;
    min-height: 70px;
    border-bottom: #20A144;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

button {
    cursor: pointer !important;
    transition: transform 0.2s, opacity 0.2s !important;
}

button:active {
    transform: scale(0.95) !important;
}

button:hover {
    opacity: 0.8 !important;
}

.btnatras {
    color: #20A144;
    font-family: nexa;
    font-size: 20px;
    background-color: #ffffff00;
    border-style: none;
    position: absolute;
    right: 80px;
    top: 40px;
    text-decoration: none;
}

#container_info {
    flex-grow: 1;
    overflow: auto;
}

.footer {
    flex-shrink: 0;
    background-color: #9ED4AE;
    height: 15vh;
    border-top: #20A144;
    border-top-style: solid;
    border-top-width: 4px;
    width: 100%;
    padding: 0;
    margin: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: auto;
}

.contenedor {
    text-align: center;
    padding: 1%;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 72px;
    font-family: nexa;
    color: #20A144;
}


/*============================================================================================================*/

.info {
    width: 100%;
    padding: 0 auto;
    text-align: center;
}

tr td {
    width: 30%;
}

h3 {
    font-size: 36px;
    font-family: nexa;
    color: #20A144;
}

h4 {
    font-size: 30px;
    font-family: nexa;
    color: #9ED4AE;
}

.tbtn {
    width: 100%;
    text-align: center;
    padding-top: 50px;
}

.btns {
    display: inline-block;
    margin: 0 139px;
    width: 200px;
    height: 320px;
    border-radius: 30px;
    background-color: #9ED4AE;
    padding: 5px;
}

.logos {
    margin-top: 4vh;
    width: 70%;
}

h2 {
    font-size: 24px;
    font-family: nexa;
    color: #20A144;
}

.acciones {
    position: absolute;
    width: 300px;
    right: 100px;
    top: 180px;
}

.imgboton {
    width: 70%;
}

button {
    width: 80px;
    height: 80px;
    text-align: center;
    background-color: #9ED4AE;
    border-radius: 180px;
    border-style: none;
}

@media (max-width: 1000px) {
    .btns {
        display: inline-block;
        margin: 0 90px;
        width: 190x;
        height: 280px;
        border-radius: 30px;
        background-color: #9ED4AE;
        padding: 5px;
    }
    header {
        flex-direction: column;
    }
    nav {
        padding: 10px 0px;
        text-align: center;
    }
    .logo img {
        height: 50px;
    }
    h4 {
        margin: 0px;
        font-size: 24px;
    }
    h3 {
        font-size: 26px;
    }
    h1 {
        font-size: 58px;
        margin: 0px;
        padding-top: 20px;
    }
}

@media (max-width: 860px) {
    .btns {
        display: inline-block;
        margin: 0 55px;
        width: 170px !important;
        height: 240px;
        border-radius: 30px;
        background-color: #9ED4AE;
        padding: 5px;
    }
    h1 {
        font-size: 42px;
        font-family: nexa;
        color: #20A144;
        padding-bottom: 4px;
    }
    input {
        width: 75%;
        font-size: 16px;
    }
    h2 {
        font-size: 18px;
    }
    #btnGuardar {
        width: 120px;
    }
    #btnAtras {
        width: 120px;
    }
}

@media (max-width: 600px) {
    .btns {
        display: inline-block;
        margin: 0 5%;
        width: 150x;
        height: 210px;
        border-radius: 30px;
        background-color: #9ED4AE;
        padding: 5px;
        margin-top: 35px;
    }
    h1 {
        font-size: 36px;
        font-family: nexa;
        color: #20A144;
        padding-bottom: 4px;
        padding-top: 20px;
    }
    h4 {
        margin: 0px;
        font-size: 18px;
    }
    input {
        width: 75%;
        font-size: 16px;
    }
    h3 {
        font-size: 20px;
    }
    h2 {
        font-size: 16px;
    }
    .imgboton {
        width: 60%;
    }
    .tbtn {
        width: 100%;
        text-align: center;
        padding-top: 10px;
    }
    .btnatras {
        color: #20A144;
        font-family: nexa;
        font-size: 14px;
        background-color: #ffffff00;
        border-style: none;
        position: absolute;
        right: 33px;
        top: 20px;
        text-decoration: none;
    }
}