@font-face {
    font-family: cocogoose;
    src: url(../../fonts/Cocogoose.ttf);
}

@font-face {
    font-family: louis;
    src: url(../../fonts/Louis.ttf);
}

@font-face {
    font-family: nexa;
    src: url(../../fonts/Nexa.ttf);
}

@font-face {
    font-family: heavitas;
    src: url(../../fonts/Heavitas.ttf);
}

@font-face {
    font-family: bebas;
    src: url(../../fonts/Bebas.otf);
}

body {
    background-color: #F8F8F8;
    margin: 0;
    padding: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

button {
    cursor: pointer !important;
    transition: transform 0.2s, opacity 0.2s !important;
}

button:active {
    transform: scale(0.95) !important;
}

button:hover {
    opacity: 0.8 !important;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 70px;
    margin-right: 10px;
    margin-left: 40px;
}

.nombre-remi {
    font-size: 40px;
    padding: 0%;
    font-family: nexa;
    color: #20A144;
}

header {
    background-color: #9ED4AE;
    min-height: 70px;
    border-bottom: #20A144;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #20A144;
    font-family: nexa;
    font-size: 16px;
}

nav a {
    font-weight: 600;
    padding-right: 20px;
}

nav a:hover {
    color: #F8F8F8;
    font-weight: 800;
}

.footer {
    flex-shrink: 0;
    background-color: #9ED4AE;
    height: 15vh;
    border-top: #20A144;
    border-top-style: solid;
    border-top-width: 4px;
    width: 100%;
    padding: 0;
    margin: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: auto;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 30px;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    justify-content: center;
}

.container {
    position: relative;
    width: 250px;
    height: 320px;
    perspective: 500px;
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.front {
    position: absolute;
    width: 80%;
    height: 80%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #9ED4AE;
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    transform: rotateY(180deg);
    background-color: #20A144;
}

.h2-front {
    font-size: 30px;
    font-family: nexa;
    color: #20A144;
    width: auto;
}

.h2-back {
    font-size: 30px;
    font-family: nexa;
    color: #F8F8F8;
    width: auto;
    margin: 0px;
}

.container:hover .card {
    transform: rotateY(180deg);
}

p {
    font-size: 20px;
    font-family: nexa;
    color: #F8F8F8;
    width: auto;
    text-align: center;
    width: 80%;
}

.container {
    cursor: pointer !important;
    transition: transform 0.2s, opacity 0.2s !important;
}

.container:active {
    transform: scale(0.95) !important;
}

.contenedor {
    text-align: center;
    padding: 1%;
}

h1 {
    font-size: 58px;
    font-family: nexa;
    color: #20A144;
    margin: 0px;
    padding-top: 30px;
    text-align: center;
}


/*============================================================================================================*/

.info {
    text-align: center;
    width: 100%;
}

h3 {
    font-size: 36px;
    font-family: nexa;
    color: #20A144;
}

h4 {
    font-size: 30px;
    font-family: louis;
    color: #9ED4AE;
}

.tbtn {
    width: 100%;
    text-align: center;
    padding-top: 50px;
}

.btns {
    display: inline-block;
    margin: 0 60px;
    width: 220px;
    height: 300px;
    border-radius: 30px;
    background-color: #9ED4AE;
    padding: 5px;
}

.logos {
    margin-top: 4vh;
    height: 20vh;
}

h2 {
    font-size: 24px;
    font-family: nexa;
    color: #20A144;
}

.acciones {
    position: absolute;
    width: 300px;
    right: 100px;
    top: 180px;
}

.imgboton {
    width: 70%;
}

button {
    width: 80px;
    height: 80px;
    text-align: center;
    background-color: #9ED4AE;
    border-radius: 180px;
    border-style: none;
}

@media (max-width: 1000px) {
    header {
        flex-direction: column;
    }
    nav {
        padding: 10px 0px;
        text-align: center;
    }
    .logo img {
        height: 50px;
    }
    .agregar {
        width: 90px;
        position: absolute;
        right: 60px;
        top: 270px;
        border-radius: 15px;
        background-color: #9ED4AE;
        border-style: solid;
        border-color: #20A144;
    }
    .boton {
        width: 120px;
        height: 40px;
        float: right;
        background-color: #9ED4AE;
        margin-right: 2%;
        color: #20A144;
        font-family: nexa;
        border-style: solid;
        border-color: #20A144;
        font-size: 16px;
        margin-top: 5px;
    }
    .nombres {
        font-size: 28px;
        font-family: nexa;
        color: #20A144;
        padding-left: 5%;
        width: 100%;
        display: inline;
        text-align: center;
    }
}

@media (max-width:820px) {
    h1 {
        font-size: 50px;
    }
    .btns {
        margin: 0 45px;
    }
}

@media (max-width:660px) {
    .contenedor {
        gap: 0px;
    }
    .container {
        width: 200px;
        height: 260px;
    }
    .btns {
        margin: 0 5%;
        width: 160px;
        height: 240px;
        border-radius: 30px;
        background-color: #9ED4AE;
        padding: 5px;
    }
    .nombres {
        font-size: 20px;
    }
    .btnatras {
        color: #20A144;
        font-family: nexa;
        font-size: 14px;
        background-color: #ffffff00;
        border-style: none;
        position: absolute;
        right: 33px;
        top: 20px;
        text-decoration: none;
    }
    h2 {
        font-size: 18px;
    }
    .logos {
        height: 40%;
    }
    h1 {
        font-size: 44px;
    }
}

@media (max-width: 500px) {
    #btnCancelar {
        margin-top: 20px !important;
    }
    #btnAceptar {
        margin-top: 20px !important;
    }
    .contElim {
        width: 80% !important;
    }
}

@media (max-width: 437px) {
    h1 {
        margin-bottom: 0px;
        font-size: 34px;
    }
    .btns {
        margin-top: 50px;
    }
}

@media (max-width: 390px) {
    .h2-front {
        font-size: 20px;
    }
    .container {
        width: 185px;
        height: 265px;
    }
}